{% extends 'blog/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}

<div class="col-sm-10">
    <h2 class="text-white my-5">About Page</h2>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ullam natus ipsam animi repudiandae tempora illo odio ipsa Quam earum repellendus corrupti consequatur, est eos provident, placeat ea tenetur voluptates accusantium? Inventore dolor ex molestiae.</p>
    <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis molestias dolorum aliquid laborum nobis dolorem iste numquam cupiditate, facere ipsa earum reprehenderit ex architecto consequuntur illo explicabo eaque quisquam illum dignissimos expedita? Hic voluptates esse, ad, quidem repellat voluptatem quos impedit ullam qui cum distinctio doloribus! Cum, libero nam.</p>
    <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis molestias dolorum aliquid laborum nobis dolorem iste numquam cupiditate, facere ipsa earum reprehenderit ex architecto consequuntur illo explicabo eaque quisquam illum dignissimos expedita? Hic voluptates esse, ad, quidem repellat voluptatem quos impedit ullam qui cum distinctio doloribus! Cum, libero nam.</p>
</div>

{% endblock content %}